/* Before Sass ==> 1160 line */
/* After Sass ==> line.........../*/
/* Start  Main Rules */
:root {
  --main-color: #e74c3c;
  --alt-color: #404b56;
  --main-font: 'Roboto', sans-serif;
  --alt-font: 'Kaushan Script', cursive; }

body {
  overflow: hidden; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0; }

/* Start Section Header */
header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url(../../images/studio_wallace111.jpg);
  position: relative;
  color: #fff;
  margin-bottom: 100px; }
header .header-info > span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: var(--main-color);
  line-height: 90px;
  margin-bottom: 30px;
  font-family: var(--alt-font);
  font-size: 30px; }
header .header-info > span .border-up {
  width: 36px;
  height: 1px;
  background-color: #e0e0e0;
  display: block;
  position: absolute;
  bottom: 25px;
  right: 29%; }
header .header-info h1 {
  border: 2px solid #fff;
  width: 349px;
  height: 52px;
  margin: auto;
  text-transform: uppercase; }
header .header-info p {
  margin-top: 16px;
  font-size: 14px; }
header .header-info .brand .facebook:hover {
  background-color: #3b5998;
  border: 1px solid #3b5998; }
header .header-info .brand .twitter:hover {
  background-color: #1da1f2;
  border: 1px solid #1da1f2; }
header .header-info .brand .google:hover {
  background-color: #db4437;
  border: 1px solid #db4437; }
header .header-info .brand .github:hover {
  background-color: #4078c0;
  border: 1px solid #4078c0; }
header .header-info .brand .linkedin:hover {
  background-color: #0077b5;
  border: 1px solid #0077b5; }
header .header-info .brand .google:hover {
  background-color: #1dd1a1;
  border: 1px solid #1dd1a1; }
header .header-info .brand .youtube:hover {
  background-color: #bb1e10;
  border: 1px solid #bb1e10; }
header .image {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 146px auto 20px;
  overflow: hidden; }
header img {
  width: 99%;
  height: 99%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid var(--main-color); }

/* End Section Header */
/* Start Aside */
aside {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: var(--main-color);
  padding: 16px 20px;
  z-index: 9999;
  color: #fff; }
aside i {
  cursor: pointer;
  font-size: 24px !important;
  display: block !important;
  color: #fff;
  position: absolute;
  left: 96%;
  top: 10%;
  width: 45px;
  height: 45px;
  background-color: var(--main-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  line-height: 45px !important;
  text-align: center;
  z-index: 2; }
aside .linked ul:first-child li {
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #c1bfbf;
  margin-top: 5px; }
aside .linked ul:first-child li.active {
  background-color: var(--alt-color);
  border-color: var(--alt-color);
  color: #fff; }
aside .linked ul:first-child, aside .linked ul:last-child {
  margin-top: 50px;
  padding: 0; }
aside .linked ul:last-child li {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #fff;
  cursor: pointer; }
aside .linked ul:last-child li:first-child {
  background-color: #e74c3c; }
aside .linked ul:last-child li:nth-child(2) {
  background-color: #8e44ad; }
aside .linked ul:last-child li:nth-child(3) {
  background-color: #16a085; }
aside .linked ul:last-child li:last-child {
  background-color: #e67e22; }

/* End Aside */
/************** Start Section ABout-me ************/
.about {
  position: relative;
  font-family: var(--main-font);
  margin-bottom: 80px; }
.about .about-heading {
  margin-bottom: 30px; }
.about .about-heading h2 {
  margin-top: 40px; }
.about .about-info p:first-child {
  margin-top: 90px;
  color: var(--alt-color);
  font-weight: bold; }
.about .about-info p:last-child {
  color: #887b7b;
  margin-top: 20px;
  margin-bottom: 30px; }
.about .about-interest {
  margin-top: 50px; }
.about .about-interest ul li {
  margin-bottom: 11px;
  text-transform: capitalize;
  color: var(--alt-color);
  font-weight: bold; }
.about .about-interest ul li span {
  font-weight: normal;
  color: #9a9999;
  display: inline-block;
  margin-left: 10px; }
.about .about-interest .download {
  margin-top: 54px;
  text-transform: capitalize;
  color: var(--alt-color); }
.about .about-interest .download h3 {
  font-family: var(--alt-font);
  font-weight: bold; }
.about .about-interest .download button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin-top: 25px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: #fff;
  padding: 8px 8px;
  font-size: 14px;
  outline: 0; }
.about .about-interest .download button i {
  margin-right: 6px; }
.about .about-interest .download h5 {
  font-size: 15px;
  color: #576574;
  font-weight: bold;
  margin: 0; }
@media (max-width: 768px) {
  .about .about-interest .download h5 {
    margin-top: 55px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .about .about-interest .hidden-xs .row:last-of-type {
    display: none; } }
.about .about-interest .hidden-xs .row:last-of-type + button {
  padding: 10px 15px;
  margin-top: 30px;
  background-color: var(--alt-color);
  border: 1px solid var(--alt-color);
  color: #fff;
  cursor: pointer; }
@media (max-width: 768px) {
  .about .about-interest .hidden-xs {
    display: none; } }
.about .about-interest .about-icon {
  margin-top: 18px;
  padding: 0; }
.about .about-interest .about-icon > li {
  background-color: var(--alt-color);
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #fff; }
@media (max-width: 767.98px) {
  .about .about-interest .about-icon > li {
    width: 150px;
    height: 150px !important;
    text-align: center !important; } }
.about .about-interest .about-icon > li i {
  margin-top: 29px; }
@media (min-width: 768px) and (max-width: 991.98px) {
  .about .about-interest .about-icon > li i {
    margin-top: 58px; } }
.about .about-interest .about-icon > li span {
  display: block;
  margin: 5px 0 0; }
@media (max-width: 767.98px) {
  .about .about-interest .about-icon {
    margin-top: 30px; } }

/* End SEction About-me */
/*********** Start Section Resume **************/
.resume {
  background-color: #dad9d982;
  padding: 40px 0 50px;
  position: relative; }
.resume .resume-heading {
  position: relative; }
.resume .resume-heading h2 {
  font-size: 34px; }
.resume .resume-exper {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  width: 160px;
  height: 40px;
  background-color: #6666664d;
  margin: 50px auto 0; }
.resume .resume-exper h3 {
  margin: 0;
  line-height: 40px;
  font-size: 24px; }
.resume .resume-exper.education {
  margin: auto; }
.resume .experince {
  position: relative;
  padding: 30px 0; }
.resume .experince > span {
  position: absolute;
  top: 0;
  left: 50%;
  background: #6666664d;
  width: 3px;
  height: 100%; }
.resume .experince .folder-icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  line-height: 28px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 28px;
  height: 28px;
  text-align: center;
  background: var(--main-color);
  color: #fff; }
.resume .experince .row:nth-child(3) {
  margin-top: 40px; }
.resume .experince .folder-icon:last-of-type {
  top: 97%; }
.resume .experince .info-1 {
  text-align: end;
  margin-top: 70px;
  margin-right: 16px; }
.resume .experince .info-1 > span:first-child {
  transform: translate(-36%);
  top: 31%;
  left: 100%; }
.resume .experince .info-1.bottom {
  margin-top: 50px; }
.resume .experince .info-1.bottom > span:first-child {
  transform: translate(-35%);
  top: 25%;
  right: 100%; }
.resume .experince .info-2 {
  margin-top: 20px;
  margin-left: 16px; }
.resume .experince .info-2 > span:first-child {
  transform: translate(60%);
  top: 12%;
  right: 100%; }
.resume .experince .info-2.bottom {
  margin-top: 0; }
.resume .experince .info-2.bottom > span:first-child {
  transform: translate(60%);
  top: 4%;
  right: 100%; }

/* End section Resume */
/* Start Section achived */
.achived {
  padding: 60px 0 30px;
  background-color: #a7a7a7; }
.achived h2 {
  margin-bottom: 50px;
  color: #eae8e8; }
.achived .icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  background: #fff;
  color: var(--main-color);
  overflow: hidden;
  margin: auto; }
.achived .icon i {
  line-height: 125px; }
.achived .info {
  margin-top: 20px; }
.achived .info p {
  font-weight: 600;
  margin: 0;
  color: #eae8e8;
  font-size: 17px;
  text-transform: capitalize; }
.achived .info p:first-child {
  font-family: var(--alt-font);
  letter-spacing: 3px;
  font-size: 21px; }
.achived .info p:last-child {
  margin-bottom: 40px; }

/* End Section achived */
/* Start Section service */
.service {
  padding: 65px 0;
  position: relative;
  font-family: var(--main-font); }
.service .about-heading {
  margin-bottom: 100px; }
.service .over-hidd {
  overflow: hidden; }
@media (max-width: 575.98px) {
  .service .over-hidd {
    margin-bottom: 30px; } }
.service .row .col-lg-5:last-child .box {
  text-align: start; }
.service .box {
  width: 83%;
  float: left;
  text-align: end;
  padding: 0 18px; }
.service .box h5 {
  font-weight: 600;
  color: var(--alt-color);
  font-size: 22px;
  margin-bottom: 5px; }
.service .box p {
  color: #a29e9e;
  line-height: 1.4; }
.service .icon-service {
  -webkit-border-radius: 12%;
  -moz-border-radius: 12%;
  -ms-border-radius: 12%;
  -o-border-radius: 12%;
  border-radius: 12%;
  width: 17%;
  float: left;
  height: 75.64px;
  background: var(--main-color);
  text-align: center; }
.service .icon-service i {
  line-height: 75.64px;
  color: #fff; }

/* End Section service */
/* Start Section skill */
.process {
  padding: 90px 0;
  background-color: #4e4e4e;
  color: #fff; }
@media (max-width: 575.98px) {
  .process {
    padding: 50px 0 30px; } }
.process h3 {
  margin-bottom: 67px;
  font-size: 35px; }
@media (max-width: 575.98px) {
  .process .row > div {
    margin-bottom: 45px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .process .row > div {
    margin-top: 45px; } }
.process .row > div:nth-child(even) {
  margin-top: 20px; }
@media (min-width: 768px) and (max-width: 991.98px) {
  .process .row > div:nth-of-type(5) {
    margin-top: 120px; } }
.process .row span {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
  border: 2px solid #fff;
  padding: 20px 40px;
  position: relative; }
.process .row span:hover {
  background-color: var(--main-color);
  border: 2px solid var(--main-color) !important; }
.process .row span i {
  position: relative;
  z-index: 2; }
.process .row h5 {
  margin: 16px 0; }

/* End Section Skill */
/* Start Section MY Works */
.works {
  padding: 100px 0;
  position: relative; }
.works ul {
  margin: 60px 0;
  font-weight: normal;
  font-family: 'Roboto', sans-serif; }
.works ul li {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  height: 37px;
  line-height: 34px;
  margin: 0 5px;
  border: 1px solid;
  cursor: pointer; }
.works ul li.active {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: #fff; }
.works .row:last-of-type {
  margin-top: 30px; }
.works .row .images {
  overflow: hidden; }
.works .row .images img {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%; }

/* End Section Mt Works */
/* Start Section pricing */
.pricing {
  padding: 70px 0;
  background-color: #f5f5f5;
  color: #000; }
@media (max-width: 991.98px) {
  .pricing {
    padding: 50px 0; } }
.pricing .box-pricing {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 30px 0 0;
  background-color: var(--main-color);
  margin-top: 80px;
  box-shadow: -4px -4px 21px #949090; }
@media (max-width: 991.98px) {
  .pricing .box-pricing {
    margin-top: 30px; } }
.pricing .box-pricing .plan-type {
  height: 105px;
  position: relative;
  background-color: var(--main-color);
  color: #fff; }
.pricing .box-pricing .plan-type h5 {
  font-size: 15px; }
.pricing .box-pricing .plan-type .price {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: #fff;
  color: #000;
  border: 5px solid #d2d2d2;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden; }
.pricing .box-pricing .plan-type .price span:first-child {
  display: block;
  margin-top: 13px;
  font-size: 33px;
  font-weight: bolder;
  color: var(--alt-color);
  font-family: var(--alt-font); }
.pricing .box-pricing .plan-type .price span .dolor-sign {
  display: inline-block !important;
  color: var(--alt-color) !important;
  font-size: 20px !important;
  font-weight: bold !important;
  margin-right: 5px; }
.pricing .box-pricing .plan-type .price span:last-child {
  color: #b5b5b5;
  font-size: 16px;
  font-family: var(--main-font);
  margin-bottom: 7px; }
.pricing .box-pricing ul {
  padding: 75px 0 20px;
  background-color: #fff; }
.pricing .box-pricing ul li {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  text-align: start;
  text-indent: 50px;
  color: #636161;
  font-size: 16px;
  font-weight: 600; }
.pricing .box-pricing ul li span {
  margin-right: 5px;
  font-family: var(--alt-font); }
.pricing .box-pricing .sign {
  background-color: #fff;
  padding: 15px 0 25px; }
.pricing .box-pricing .sign button {
  padding: 6px 23px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  color: #fff;
  font-weight: bold;
  font-size: 14px; }

/* End Section Pricing */
/* Start Section opinion */
.opinion {
  padding: 100px 0;
  background-color: #636e72;
  color: #fff; }
@media (max-width: 767.98px) {
  .opinion {
    padding: 50px 0; } }
@media (max-width: 575.98px) {
  .opinion h2 {
    font-size: 20px; } }
.opinion button {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-top: 50px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: #fff;
  padding: 5px 20px;
  cursor: pointer; }
@media (max-width: 575.98px) {
  .opinion button {
    margin-top: 12px;
    padding: 5px 11px; } }
@media (max-width: 767.98px) {
  .opinion button {
    margin-top: 15px; } }

/* End Section opinion */
/* Start Secction Blog Post */
.blog {
  padding: 80px 0;
  position: relative; }
@media (max-width: 992px) {
  .blog {
    padding: 50px 0; } }
.blog .row {
  margin-top: 80px; }
@media (max-width: 992px) {
  .blog .row {
    margin-top: 60px; } }
.blog .row .blog-box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dadada;
  padding: 10px; }
@media (max-width: 992px) {
  .blog .row .blog-box {
    margin-top: 30px; } }
.blog .row .blog-box .images {
  height: 173px;
  width: 100%; }
.blog .row .blog-box .images img {
  width: 100%;
  height: 100%; }
.blog .row .blog-box .info h3 {
  margin-top: 23px;
  color: var(--alt-color);
  font-weight: bold;
  font-size: 26px; }
.blog .row .blog-box .info p {
  margin-top: 14px;
  color: #a5a5a5; }
.blog .row .blog-box .data i {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: var(--main-color);
  color: #fff; }
.blog .row .blog-box .data p {
  display: inline-block;
  color: #a5a5a5; }
@media (max-width: 1200px) {
  .blog .row .blog-box .data p {
    font-size: 15px; } }

/* End Section Blog Post */
/* Start Section Client */
.client {
  padding: 60px 0;
  background-color: #f9f9f9;
  position: relative; }
.client .client-info {
  margin-top: 85px; }
@media (max-width: 767.98px) {
  .client .client-info {
    margin-top: 60px; } }
.client .client-info i {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  line-height: 105px;
  background-color: var(--main-color);
  margin-bottom: 25px; }
@media (max-width: 767.98px) {
  .client .client-info i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 21px;
    font-size: 24px; } }
.client .client-info p {
  color: #b3b3b3; }
@media (max-width: 767.98px) {
  .client .client-info p {
    font-size: 14px; } }
.client .client-info span {
  font-size: 18px;
  color: var(--alt-color); }
.client .client-info span strong {
  font-size: 21px; }
.client .slider {
  width: 300%;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: -100%; }
.client .slider .client-slider {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  overflow: hidden;
  width: calc(300%/3); }
.client .slider .client-slider img {
  width: calc(100%/7);
  height: 90px; }
@media (max-width: 767.98px) {
  .client .slider .client-slider img {
    height: 60px; } }
.client .slider .client-slider img:last-of-type {
  margin-right: 0% !important; }
.client ul {
  margin-top: 55px; }
.client ul li {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #636e72;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer; }
.client ul li.active {
  background-color: var(--main-color); }

/* End Section Client */
/* Start Section decription */
.decription {
  padding: 100px 0;
  background-color: #636e72;
  color: #fff; }
@media (max-width: 767.98px) {
  .decription {
    padding: 50px 0; } }
.decription .container > span {
  margin-top: 60px;
  display: block;
  font-weight: bold;
  letter-spacing: 1px; }
@media (max-width: 767.98px) {
  .decription .container > span {
    font-size: 16px; } }
.decription .about-heading h2 {
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  font-weight: 600; }
@media (max-width: 767.98px) {
  .decription .about-heading h2 {
    font-size: 18px; } }
.decription .about-heading span {
  height: 6px;
  background-color: #fff; }

/* End Section decription */
/* Start Section Contact */
.contact {
  padding: 60px 0;
  position: relative; }
.contact .contact-me {
  overflow: hidden;
  margin-top: 70px; }
.contact .contact-me i {
  -webkit-border-radius: 11%;
  -moz-border-radius: 11%;
  -ms-border-radius: 11%;
  -o-border-radius: 11%;
  border-radius: 11%;
  float: left;
  width: 90px;
  height: 95px;
  background-color: var(--main-color);
  color: #fff;
  line-height: 95px;
  margin-right: 30px; }
.contact .contact-me .info {
  text-align: start; }
.contact .contact-me .info span {
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  color: var(--alt-color); }
.contact .contact-me .info p {
  font-size: 16px;
  font-weight: 600;
  color: #636e72;
  margin-top: 10px; }
.contact .form form {
  overflow: hidden;
  margin-top: 50px;
  position: relative; }
@media (max-width: 991.98px) {
  .contact .form form {
    margin-top: 30px; } }
.contact .form form input {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  float: left;
  width: 49%;
  margin-right: 1%;
  padding: 11px 5px;
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
  outline: 0; }
@media (max-width: 767.98px) {
  .contact .form form input {
    padding: 11px 9px; } }
.contact .form form input:last-of-type {
  margin-right: 0;
  margin-left: 1%; }
.contact .form form .asterik {
  position: absolute;
  top: 8px;
  display: none;
  font-weight: bold;
  font-size: 25px; }
.contact .form form .asterik:first-of-type {
  left: 47%; }
.contact .form form .asterik:last-of-type {
  right: 1%; }
.contact .form form textarea {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-top: 25px;
  width: 100%;
  height: 260px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7; }
.contact .form form button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  margin-top: 25px;
  padding: 6px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: #ffff;
  font-size: 18px;
  font-weight: bold;
  outline: 0; }

/* End Section Conatct */
/* Start Button Fixed To Top */
button {
  outline: none !important; }
button.fixed-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  bottom: 2%;
  position: fixed;
  right: 2%;
  padding: 5px 15px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: #fff;
  cursor: pointer;
  display: none; }

/* Start Button Fixed To Top */
/* Start Section Fooetr */
footer {
  color: #fff;
  background-color: var(--alt-color);
  overflow: hidden;
  padding: 30px 0; }
footer p {
  float: left; }
footer .brand {
  float: right;
  text-align: center; }
footer .brand .facebook:hover {
  background-color: #3b5998;
  border: 1px solid #3b5998; }
footer .brand .twitter:hover {
  background-color: #1da1f2;
  border: 1px solid #1da1f2; }
footer .brand .google:hover {
  background-color: #db4437;
  border: 1px solid #db4437; }
footer .brand .github:hover {
  background-color: #4078c0;
  border: 1px solid #4078c0; }
footer .brand .linkedin:hover {
  background-color: #0077b5;
  border: 1px solid #0077b5; }
footer .brand .google:hover {
  background-color: #1dd1a1;
  border: 1px solid #1dd1a1; }
footer .brand .youtube:hover {
  background-color: #bb1e10;
  border: 1px solid #bb1e10; }

/* End Section Footer */
/* Start Section Loading-overlay */
.loading-overlay {
  background-color: #e74c3c;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 99999; }
.loading-overlay .spinner {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 250px auto 0;
  text-align: center;
  animation: sk-rotate 2.0s infinite linear; }
.loading-overlay .spinner .dot1, .loading-overlay .spinner .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  animation: sk-bounce 2.0s infinite ease-in-out; }
.loading-overlay .spinner .dot2 {
  top: auto;
  bottom: 0;
  animation-delay: -1.0s; }

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg); } }
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }
/* End Section Loading-overlay*/
/* Start My framework */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 111, 111, 0.9); }

.over-hidden {
  overflow: hidden; }

.text-upper {
  text-transform: uppercase; }

.h1 {
  font-weight: bold;
  font-size: 38px;
  color: var(--alt-color);
  margin-bottom: 20px; }

.border-bottom {
  display: inline-block;
  width: 50px;
  height: 6px;
  background-color: #576574;
  left: 50%;
  position: absolute;
  z-index: 999;
  transform: translate(-50%); }

.brand li {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #dad7d7;
  cursor: pointer; }

/* End My Framework */
/* Start My Extended */
.resume .experince .info-1 > span:first-child, .resume .experince .info-1.bottom > span:first-child, .resume .experince .info-2 > span:first-child, .resume .experince .info-2.bottom > span:first-child {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: var(--main-color);
  display: inline-block;
  position: absolute; }

.resume .experince .info-1 h4, .resume .experince .info-2 h4 {
  color: var(--alt-color);
  font-size: 19px;
  font-weight: bold; }
@media (max-width: 767.68px) {
  .resume .experince .info-1 h4, .resume .experince .info-2 h4 {
    font-size: 16px; } }

.resume .experince .info-1 .company-name, .resume .experince .info-2 .company-name {
  color: var(--alt-color);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 15px; }
@media (max-width: 767.68px) {
  .resume .experince .info-1 .company-name, .resume .experince .info-2 .company-name {
    font-size: 12px; } }

.resume .experince .info-1 p, .resume .experince .info-2 p {
  margin-top: 16px;
  color: #8a8686; }
@media (max-width: 767.68px) {
  .resume .experince .info-1 p, .resume .experince .info-2 p {
    line-height: 1.3;
    font-size: 14px; } }

.resume .experince .info-1 .company-name .under-color, .resume .experince .info-2 .company-name .under-color {
  color: #e74c3c; }

/* End My Extended */

/*# sourceMappingURL=main.css.map */
